<%= stylesheet_link_tag "application", :media => "all" %>
<%= javascript_include_tag "application" %>

<center>
  <div id="container">Loading the player ...</div>
</center>

<script type="text/javascript">
      jwplayer("container").setup({
        flashplayer: "/assets/jwplayer/jwplayer.flash.swf",
        file: "<%= @audio.audio.url(:medium) %>",
        width: 360,
        height: 240
      });
</script>
