<%- model_class = Post -%>
<div class="page-header">
  <h3><%=t '.title', :default => t('helpers.titles.edit', :model => model_class.model_name.human, :default => "Edit #{model_class.model_name.human}") %> <%= @post.title %> </h3>
</div>

<%= render :partial => 'form' %>
