<%- model_class = Post -%>

<table class="table table-striped">
  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td style="font-weight: bold;"><%= link_to post.title, post_path(post), :style => "color: #B7181C" %></td>
        <td><%= truncate(strip_tags(post.content), :length => 1024) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
