<div class="sobre">

<p><b>Etimologia: S.f. [do Latin Rete, Retiolus, Reticulum]</b> -  Conjunto de linhas  entrelaçadas; Entrelaçamento de fios, cordas, cordéis, arames.</p>

<p><b>Horizontalidade, Gestão Compartilhada e Autonomia: </b></p>

<p>"Uma estrutura em Rede (...) corresponde também ao que seu próprio nome indica: seus integrantes se ligam horizontalmente a todos os demais, diretamente ou através dos que os cercam. O conjunto resultante é como uma malha de múltiplos fios, que pode se espalhar indefinidamente para todos os lados, sem que nenhum dos seus nós possa ser considerado principal ou central, nem representante dos demais. Não há um "chefe", o que há é uma vontade coletiva de realizar determinado  objetivo." (Withaker)</p>

<p>A intenção é que a ONG Artéria - Cultura e Cidadania, entidade proponente e responsável pela concepção e construção do projeto da Rede Candanga, passe a ser, com o passar do tempo e da apropriação das ferramentas do portal Rede Candanga por seus membros, um ponto a mais dessa Rede. Apesar da nossa atuação como mediadores, papel fundamental para sustentação da iniciativa até o momento, queremos nos ocupar de outras iniciativas que fomentem e dinamizem a Rede Candanga, deixando a gestão do portal por conta dos seus membros. Nesse momento, a estrutura hierárquica da Rede será totalmente horizontal. A metodologia para isso está detalhada no tópico devido, adiante.</p>

<p>Inspirados na filosofia de Deleuze e Guattari, os membros da Artéria aplicam à atuação da entidade na Rede Candanga o conceito de "rizoma": "um rizoma não começa nem conclui, ele se encontra sempre no meio, entre as coisas, inter-ser, intermezzo. A árvore é filiação, mas o rizoma é aliança, unicamente aliança" (2000).</p>

<p>Esses são princípios perseguidos por nós desde o princípio. No entanto, chegar a seu pleno exercício demanda tempo para aperfeiçoamento das ferramentas e efetividade na mobilização social, o que permitirá o crescimento sustentável do projeto.</p>

<p><b>Livre Adesão:</b></p>
<p>A Rede aparece [...] como fios seguros de uma Rede flexível que pode se moldar conforme as situações concretas e, por isso mesmo, se deformar para melhor reter.  A Rede é proteiforme, móvel e inacabada, e é desta falta de acabamento que ela tira sua força no espaço e no tempo: se adapta as variações no espaço e as mudanças que advém do tempo. A Rede faz e desfaz as prisões do espaço, tornando território: tanto libera como aprisiona.</p>

<p>Atualmente, após avanços em nossa infraestrutura tecnológica, o portal, além de oferecer informações qualificadas sobre o setor cultural, permite o cadastro de qualquer pessoa em nosso mailing que traz dois boletins semanais com cobertura jornalística e agenda cultural atualizada. Permite, também, a adesão à nossa Rede social, o que significa acesso à ferramenta de blogs e fóruns de debate. Os serviços de jornalismo cultural, controle social do orçamento da cultura e a cartografia da cultura candanga são disponíveis a todos, independente do cadastro no nosso portal.</p>

<p><b>Transversalidade:</b></p>

<p>"O fato de que a Rede é global e local, una e múltipla, estável e dinâmica, faz com que sua realidade, vista num movimento de conjunto, revele a superposição de vários sistemas lógicos. Esse movimento tanto inclui dinâmicas próximas locais, quanto dinâmicas distantes, universais, movidas pelas grandes organizações. Ao mesmo tempo globais e locais, as Redes também são unas e múltiplas" (Santos, 1995, p.221)</p>

<p>Sabemos que, na realidade, a cultura permeia e é permeada por todos os setores da nossa vida, dos fatos mais corriqueiros até o mais estrutural, das relações mais cotidianas até as mais íntimas, da forma como nos vemos até a forma como vemos o mundo, enfim, a cultura é multiplicidades de fatores que se relacionam de todas as formas, tal como uma Rede, talvez, a mais dinâmica delas. Logo, um espaço que pretende se consolidar como uma Rede cultural que abarque a diversidade e o dinamismo de uma região, também deve ser transversal, do contrário, não conseguirá refletir a realidade. Neste sentido, o nosso portal pretende abarcar conteúdos e dinâmicas das áreas com interface com a cultura. Isso dependerá, logicamente, não apenas da nossa produção de conteúdo. Dependerá, fundamentalmente, dos conteúdos trazidos pelos membros da Rede. </p>

<p><b>Economia Solidária, Economia Criativa e E-commerce.</b></p>
<p>"A construção da economia solidária é uma destas outras estratégias. Ela aproveita a mudança nas relações de produção provocada pelo grande capital para lançar os alicerces de novas formas de organização da produção, à base de uma lógica oposta àquela que rege o mercado capitalista. Tudo leva a acreditar que a economia solidária permitirá, ao cabo de alguns anos, dar a muitos, que esperam em vão um novo emprego, a oportunidade de se reintegrar à produção por conta própria individual ou coletivamente..." (Singer: 2000 p.138).
Atualmente, formas de produção, consumo e distribuição centrados na valorização dos seres humanos e não do capital têm sido estudadas como uma das soluções concretas para combater a desigualdade social. A economia solidária tem base associativista e cooperativista e é voltada para a produção, consumo e comercialização de bens e serviços de modo autogerido, tendo como finalidade a reprodução ampliada da vida. Preconiza o entendimento do trabalho como um meio de libertação humana dentro de um processo de democratização econômica, criando uma alternativa à dimensão alienante e assalariada das relações do trabalho capitalista.</p>

<p>Além disso, a economia solidária possui uma finalidade multidimensional, isto é, envolve a dimensão social, econômica, política, ecológica e cultural. Isto porque, além da visão econômica de geração de trabalho e renda, as experiências dessa economia se projetam no espaço público no qual estão inseridas, tendo como perspectiva a construção de um ambiente socialmente justo e sustentável.
Cientes de que a maior demanda de muitos agentes culturais do DF se refere à obtenção de saldo financeiro, concebemos a economia solidária como uma ferramenta colaborativa e complementar dentro da ampla cadeia produtiva da cultura do DF.</p>

<p>Outro importante conceito, bastante explorado e aplicado atualmente, é o de economia criativa. Essa, mais que propor um novo modelo de produção e comercialização diferenciado daquele proposto tradicionalmente pelo sistema capitalista, se preocupa em motivar a transversalidade da produção. De maneira resumida, esta pode ser definida como uma cadeia de processos que envolvam criação, produção e distribuição de produtos e serviços, usando-se do conhecimento, criatividade e capital intelectual dos indivíduos como principais recursos produtivos, buscando explorar  ao máximo o potencial econômico das atividades.</p>

<p>Se por um lado a economia solidária é um horizonte não tão distante que almejamos chegar mediante a discussão colaborativa, a economia criativa é um conceito concreto e aplicado desde o nascimento da Rede. Os setores criativos correspondem às atividades econômicas que tem como processo principal um ato criativo gerador de valor simbólico, elemento central da formação do preço, e que resulta em produção de riqueza cultural. Neste sentido, a economia criativa compreende o ciclo de criação, produção, distribuição/ difusão e consumo/ fruição de bens e serviços caracterizados pela prevalência de sua dimensão simbólica.</p>

<p>Incentivar todas as ações criativas e associativas entre os pontos da nossa Rede, promovendo os seus potenciais econômicos e seus recursos produtivos, é uma das nossas intenções fundantes. Isso será possível através da elaboração e implementação de modernas ferramentas de e-commerce.</p>

<p><b>Inclusão digital da diversidade cultural.</b></p>

<p>"Os efeitos econômicos e sociais das políticas culturais devem ser entendidos não só como direitos à igualdade econômica e cultural, mas também ao direito à diferença, pois além de comprometerem as sociedades com o desenvolvimento pleno dos recursos simbólicos disponíveis, as políticas culturais devem proporcionar a multiplicação dos canais de exemplos edificantes, os mais múltiplos e díspares, que aumentem as possibilidades de convivência democrática e criativa." (Cad. de Políticas Culturais Vol. 2, pág. 66, MinC/IPEA, Brasília, 2007)</p>

<p>A inclusão dos agentes culturais na revolução digital se dará na medida em que eles se apropriem das novas tecnologias. Essa é a sua inscrição na nova democracia da cultura, na reestruturação global do consumo - modificando-lhe o tempo e a estrutura dos serviços a que dão suporte e no acesso à informação em escala planetária.</p>

<p>A Rede, como meio de intercâmbio simbólico e de aproximação espacial virtual, estimula a construção de um Distrito Econômico-Cultural como espaço produtivo, comercial e de serviços culturais. O acesso ao fazer cultural e à sua fruição é o que garante a renovação desses recursos, constituindo identidades, elevando a auto-estima e fortalecendo o sentimento de pertencimento comunitário.</p>

<p>A intenção é que, com o tempo, os membros da Rede possam utilizar os recursos multimídias e as ferramentas de comunicação para criarem microambientes de produção cultural, tal como programas de Tv e Rádio; grupos de discussões; venda e troca de serviços e produtos culturais; iniciativas conjuntas de uma forma geral.</p>

<p><b>Política Pública ou o Público na Política Cultural.</b></p>

<p>"Do ponto de vista democrático, entendemos políticas públicas de cultura, como o conjunto de intervenções realizadas pelo Estado, as instituições civis e grupos comunitários" (García Canclini)</p>

<p>Uma política só se torna pública quando a sociedade a toma como valor fundamental para o exercício pleno de sua cidadania. No vasto campo do conceito de Cultura este desafio se torna ainda maior. A forma como se definem os objetivos dessas intervenções devem envolver a participação e a responsabilização daqueles a que estão ligados direta ou indiretamente. </p>

<p>Segundo o professor da ECA/USP Teixeira Coelho, essas políticas "resultam de uma ‘consertação’ entre a administração e os administrados que surge de um processo de participação e tende para uma planificação acordada" (Dicionário Crítico de Política Cultural, 1997, grifo nosso). Assim, a REDE pretende auxiliar na construção desse espaço de "consertação", ou seja, o lugar democrático onde a sociedade civil e os governos discutem suas demandas. Para isso, o projeto irá incentivar a "participação", instigando os indivíduos a se tornarem sujeitos-cidadãos no cenário político. E, também, contribuir para um planejamento e gestão das políticas culturais, tornando-as estruturantes e perenes, assim como entendemos a "planificação".</p>

<p>É preponderante para uma boa gestão o acompanhamento do universo no qual atua o gestor. Quem pretende realmente atuar de forma planejada neste volúvel campo da cultura, necessita de instrumentos que possibilitem uma atualização bem estruturada, com metas e indicadores claros. Por isso, os dados são fundamentais para aferir quais são as direções possíveis para a conquista de nosso objetivo.</p>

<p><b>A Rede Candanga e os Pontos de Cultura</b></p>

<p>"Os problemas apontados e que justificam a existência do programa referem-se às características culturais e sociais peculiares das comunidades em situação de vulnerabilidade e partem da necessidade de estimular e valorizar a diversidade das experiências culturais nos quadros de uma política cultural. Os enunciados a seguir sintetizam os problemas a serem enfrentados.</p>

<p>1. Ausência de estímulos para o uso das potencialidades artísticas e culturais locais como a experiência lúdica e de integração social.</p>
<p>2. Carência de meios para divulgação das produções e expressões culturais locais.</p>
<p>3. Dificuldades de acesso das comunidades à produção artística, na condição de público fruidor de entretenimento, conhecimento e lazer.</p>
<p>4. Dificuldades de acesso à cultura digital.</p>
<p>5. Limitações de acesso a processos educativos que respeitem as contingências culturais locais." (Caderno de Políticas Culturais Vol. 3, pág. 275)</p>

<p>Observa-se no Brasil, uma mudança substancial na visão do Estado em relação à questão cultural. Hoje, cresce o entendimento das dimensões simbólicas, econômicas e cidadãs como parte das variadas práticas culturais.  Essa mudança obriga a construção de uma nova gestão das políticas culturais. É dentro desse marco que nasce o  Programa Cultura Viva, que implementou os Pontos de Cultura em todo o território nacional. Como definiu o ex-ministro da Cultura Gilberto Gil, "o Ponto de Cultura é uma espécie de ‘do-in’ antropológico, massageando pontos vitais, mas momentaneamente desprezados ou adormecidos, do corpo cultural do país".</p>

<p>O reconhecimento por parte do Estado, no entanto, não é sinônimo de processo consolidado. Os Pontos de Cultura seguem sem comunicação entre si e com a sociedade civil. Seguem, também, sem políticas públicas que assegurem a sustentabilidade dos grupos contemplados. Diante deste quadro, acreditamos que a identificação, a localização em mapa georeferenciado e a disponibilização de seus conteúdos, projetos e processos em um portal na internet, serão ferramentas importantes para a dinamização dos processos econômicos no campo da cultura, gerando um ambiente propício para a comunicação entre os grupos e instituições culturais e para a elaboração de ações conjuntas dos grupos entre si, com a iniciativa privada e com o governo. Além disso, os diagnósticos periódicos da nossa Cartografia poderão subsidiar políticas públicas para suprir demandas em comum desse segmento.</p>

<p>Ainda como Ponto de Cultura, a Artéria, com sua expertise de mapeamento e criação de Rede, oferecerá seminários e oficinas presenciais. Nos seminários, palestrantes capacitados abordarão os conceitos centrais de Rede, experiências bem sucedidas pelo Brasil e pelo mundo, tanto dentro como fora do Programa Cultura Viva. Nossas oficinas serão dedicadas ao norteamento da Rede dos Pontos de Cultura do DF e Entorno e de seu conselho. Isso será alcançado por meio de uma mediação qualificada e democrática que sistematizará ações, estratégias, objetivos e cronograma, definindo responsabilidades pelas ações da Rede e de seu conselho. Além disso, disponibilizamos o site da Rede Candanga para que haja efetiva divulgação e comunicação dos Pontos de Cultura entre si e com a sociedade de uma maneira geral. O site pretende se configurar como um forte instrumento de fomento e discussão da produção cultural da cidade, dinamizando, assim, o setor cultural das cidades do Distrito Federal e Entorno. </p>

<p><b>Ferramentas da Rede:</b></p>

<p>"Os Suportes da comunicação e as tecnologias são determinantes na mensagem: Os conteúdos modificam-se em função dos meios que os veiculam" (Marshal McLuhan)</p>

<p><b>Cartografia da Cultura Candanga:</b> A Cartografia da Cultura Candanga é um mapa impresso e virtual das entidades culturais do DF para orientar brasilienses, turistas, governos e estudiosos dos processos culturais. O objetivo fundamental do projeto é mapear os grupos e entidades ligadas ao fazer cultural no Distrito Federal e extrair diagnósticos do setor, subsidiando o conhecimento acerca do modo como os fazedores de cultura se organizam internamente e como se articulam, chegando a uma visualização qualificada da Rede formada por esses entes e agentes. Este projeto, por sua complexidade e maturidade será apresentado em seguida. </p>

<p><b>Rede Social:</b> os fazedores, gestores e apreciadores da cultura de Brasília podem criar seus perfis e blogs na nossa Rede social. Além de fazer contatos e divulgar suas atividades, ganham a oportunidade de trocar informações e conhecimentos entre si e com a sociedade, seja através de um chat ou dos fóruns temáticos. Qualquer pessoa pode fazer parte da Rede. Basta acessar o endereço www.redecandaga.com e fazer o registro na aba "Rede Social".</p>

<p><b>Jornalismo Cultural:</b> divulgamos diariamente conteúdo jornalístico sobre o que acontece na área cultural da cidade, desde eventos e produção artística até os debates sobre gestão e políticas públicas. Este conteúdo pode ser encontrado na aba "Home". </p>

<p><b>Orçamento da Cultura:</b> O orçamento do setor cultural, tanto em âmbito federal quanto distrital, estará em constante monitoramento na aba "Orçamento". Lá, encontram-se os dados e análises didáticas e detalhadas sobre os gastos distritais e nacionais da cultura;</p>

<p><b>Fóruns:</b> Oferecemos um fórum geral e diversos fóruns temáticos para discussões direcionadas. Novos fóruns poderão ser criados de acordo com a proposta de adesão dos membros da Rede;</p>

<p><b>Observatório:</b> Em breve implementaremos um serviço de observatório cultural voltado para o acompanhamento das políticas públicas para esta área e para a produção cultural das cidades do DF.</p>

<p><b>Público:</b></p>

<p>Entes e Agentes culturais, iniciativa privada, governo e pessoas interessadas constituem uma Rede ligada a um Portal próprio na Rede Mundial de Computadores:</p>

<p><b>Moradores do DF e Entorno:</b> estas pessoas poderão ter acesso a informações detalhadas sobre o cenário cultural da cidade e a cadeia produtiva da cultura, com as possibilidades que se abrem no campo das associações e dos empreendimentos.  Terão acesso, também, às entrevistas, artigos e reportagens sobre o universo cultural e à agenda cultural da região, que além dos eventos voltados para o grande público, traz, também, a programação dos grupos culturais populares e tradicionais da região.</p>

<p><b>Turistas:</b> disporão de uma ferramenta rápida e prática para identificar, de forma georeferenciada, os grupo culturais e artistas da região, tendo acesso a vídeos, fotos, músicas e aos blogs dos membros que compõem a Rede.</p>

<p><b>Setor Cultural do DF e Entorno:</b> estes, finalmente, terão um espaço para identificação e divulgação de suas atividades, serviços e produtos, gerando renda e visibilidade para os artistas e fazedores de cultura da região.</p>

<p><b>Iniciativa Privada e Estado:</b> terão uma ferramenta eficiente para subsidiar ações pertinentes ao campo da cultura, sejam elas políticas públicas ou empreendimentos com fins econômicos. </p>

</div>
