<div class="sobre">
  <p>Promover visibilidade, dinamização e sustentabilidade do setor cultural, através de ações transdisciplinares de mapeamento, diagnóstico, planejamento, mobilização, interação em rede e construção participativa de políticas públicas por meio do desenvolvimento e aperfeiçoamento de ferramentas tecnológicas para comunicação e inovação com foco no sujeito cidadão.</p>
</div>
