<div class="sobre">

<p>Brasília evidencia a diversidade da cultura brasileira pela convergência de seus muitos povos formadores. Mas também, pela reinvenção, através do convívio inevitável, que resulta noutras sonoridades, noutros sotaques, noutras geografias, no diálogo entre estranhezas e afinidades. Como uma cidade densa, carrega consigo os pulsares de sua gente que, de tão diferentes, um povo novo se faz, aos poucos, candango.</p>

<p>Do Plano Piloto como modelo de cidade - ao que hoje se inscreve no mapa do Brasil como Distrito Federal - muito se alterou. Porque, como cidade viva que é, esta mudou, ajustou o seu destino, alargou suas fronteiras, alterou o seu traçado. Hoje, temos mais cidades e menos satélites, além de outras comunidades, não planejadas, que almejam sua inclusão nos benefícios gerados pelo desenvolvimento ainda oferecido para poucos. </p>

<p>Com relação ao universo cultural do Distrito Federal, percebem-se facilmente alguns diagnósticos: não existem informações sistematizadas sobre a produção cultural das cidades nem por parte da sociedade e nem por parte do Estado; a falta de divulgação, circulação e incentivo, bem como o isolamento físico das cidades e dos grupos culturais, tem como conseqüência a falta de comunicação entre os entes e agentes culturais e o desconhecimento de grande parte da produção cultural, principalmente aquelas que não têm apelo de mercado e estão fora do plano piloto.</p>

<p>
Com base nesse dois diagnósticos, a OnG Artéria estruturou seus eixos de atuação:
Identificação, produção de diagnósticos e indicadores culturais sobre a produção cultural do Brasil e do Distrito Federal. Essas informações compõem uma experiência inédita na região e vem sendo utilizada tanto pela população que deseja conhecer a as culturas candangas como por pesquisadores e pelo o governo, na busca de subsídios para elaboração de políticas públicas;
1) Dinamização da produção cultural do Distrito Federal através da divulgação da produção cultural, do oferecimento de informação, formação e controle social do universo cultural e espaço para comunicação entre artistas, pesquisadores, trabalhadores da cultura, gestores, iniciativa privada, governo e interessados.  
</p>

<p>
Tratam-se, respectivamente, da 

1) Cartografia da Cultura Candanga e do Mapa da Cultura;
2) Rede Candanga.
</p>


<p>1) A Cartografia da Cultura Candanga é um mapa dos equipamentos culturais, grupos culturais e artistas do DF para orientar brasilienses, turistas, governos e estudiosos dos processos culturais. O objetivo fundamental do projeto é mapear os grupos e entidades ligadas ao fazer cultural no Distrito Federal e extrair diagnósticos do setor, o que permite conhecer as demandas e potencialidades dos pontos mapeados, chegando-se a uma visualização qualificada da Rede formada por esses entes e agentes. </p>

<p>O desenvolvimento deste projeto permitirá o acesso a informações detalhadas sobre o cenário cultural da cidade e sobre as cadeias produtivas, com as possibilidades que se abrem no campo das associações e empreendimentos. Com isso, ganham: 1) o grande público, composto por moradores da região e turistas, que terão oportunidade de conhecer os grupos, artistas, os perfis, informações detalhadas e as atividades culturais desenvolvidas na região; 2) os grupos e associações, que terão os seus trabalhos divulgados, potencializando as atividades por eles desenvolvidas, seja pelo aumento do número de pessoas que visitarão os espaços e/ou participarão das atividades, seja pelas possibilidades de novas oportunidades no campo da economia da cultura; 3) a iniciativa privada, que terá uma ferramenta para estudo qualificado de potenciais investimentos no campo da cultura; 4) e, por fim, o Estado, que terá um instrumento eficiente para subsidiar a elaboração de políticas públicas e ações pertinentes ao campo cultural da região, inaugurando uma forma de fazer política cultural a partir de sua base, ou seja, das vozes dos que se dedicam e/ou que vivenciam esse universo, e que conhecem bem o cotidiano da realidade cultural candanga. Isso, porque a Cartografia inclui também a aplicação de questionários aos coordenadores e participantes das atividades oferecidas por esses grupos, gerando informações e diagnósticos sobre territorialidades, demandas e potencialidades da diversificada cadeia produtiva cultural do DF. </p>

<p>O mapeamento também se preocupa em fazer um levantamento sobre os equipamentos culturais do DF (teatros, museus e bibliotecas), a fim de compreender a relação entre as atividades oferecidas pelos grupos e os espaços públicos disponíveis. Além disso, ressaltamos a criação de um banco de registro audiovisual dos pontos mapeados, bem como das atividades desenvolvidas por estes como uma importante iniciativa de salvaguarda da cultura candanga.</p>

<p>Acreditamos que a identificação georeferenciada dos grupos e instituições e a apresentação de seus conteúdos, projetos e processos, disponibilizados em um portal na internet, será uma forte ferramenta para o turismo cultural das cidades e para a dinamização dos processos econômicos no campo da cultura: identificar e divulgar os grupos e suas atividades para uma ampla parcela da população gera maior potencial de público para suas atividades e maior interesse por parte da iniciativa privada; consolidar um canal público de comunicação aproximar a sociedade das atividades culturais e os próprios fazedores de cultura entre si, fortalecendo o setor; diagnosticar demandas em comum, subsidiando o norteamento de ações para a Rede e a elaboração de políticas públicas culturais por parte dos órgãos governamentais responsáveis.</p>

<p>Desenvolvida pelo Ponto de Cultura Artéria - Cultura e Cidadania, a Cartografia da Cultura Candanga em sua primeira versão, em 2009, mapeou e diagnosticou um objeto amostral de 39 grupos e 75 equipamentos culturais. Na segunda versão, em 2011, chegou a 59 grupos e com o mesmo número de equipamentos. Para tanto, contamos, em 2009, com recursos do Fundo de Arte e Cultura do DF (FAC) e do Fundo de Apoio à Pesquisa (FAP). Atualmente a Cartografia da Cultura Candanga está aberta para novas adesões. Basta enviar um email com as informações (hiperlink do questionário) para contato@arteria.org.br</p>

<p><b>Metodologia Até 2012</b></p>

<p>Nosso mapeamento - inspirado no Mapeamento Cultural Municipal, metodologia elaborada por Souza (2003) - partiu da observação do espaço urbano, onde são identificadas inúmeras manifestações e textos, não necessariamente literais, que indicam as diferentes territorialidades presentes nas cidades. Estas manifestações são expressas pelos grupos que culturalmente ressignificam os lugares onde atuam, conferindo a estes uma delimitação espacial.</p>
			
<p>Nossa pesquisa consistiu no mapeamento de grupos e associações culturais do DF. O mapeamento foi baseado no método de pesquisa exploratória, por meio da coleta de dados primários acerca de grupos e associações do DF que possuem atividades de formação, tal como cursos e oficinas nas áreas da literatura, música, artes plásticas, teatro, áudio visual e produção artística. Importante dizer que a pesquisa abrangeu todas as Regiões Administrativas (RA) do DF, não se estendendo ao entorno, ou seja, aos municípios de Goiás.</p>


<p>Os contatos com os grupos inicialmente se basearam em três tipos de listas públicas:<br/>
- lista dos pontos de Cultura do MinC;<br/>
- lista de entes e agentes culturais da Secretaria de Cultura do Distrito Federal;<br/>
- lista das Administrações Regionais do Distrito Federal.<br/>
</p>

<p>Em cada visita, foi aplicado um questionário para o coordenador ou responsável pelo grupo, e questionários para aqueles que participavam de ao menos uma das atividades do grupo. Cada grupo mapeado foi registrado em audiovisual e o conteúdo foi inserido no mapa virtual. Assim, ao localizar um grupo no mapa, o navegante do portal Rede Candanga pode, também, assistir as atividades desenvolvidas pelo grupo e uma entrevista com os coordenadores.</p>

<p>O mapeamento dos equipamentos culturais foi acessório ao mapeamento das entidades e se baseou nos dados do Sistema de Informações Territoriais e Urbana do Distrito Federal (SITURB - mapeamento realizado pelo GDF em 2007). Além de atualizar a base do SITURB de acordo com os espaços disponíveis em cada Região Administrativa, este mapeamento teve como objetivo compreender a relação entre os grupos atuantes e os espaços públicos disponíveis nas cidades.</p>

<p><b>Nosso Recorte:</b></p>

<p>Brasília é reconhecida por concentrar uma enorme diversidade de manifestações culturais brasileiras, além de possuir intensa produção artística. No entanto, os trabalhos artísticos e culturais, diferenciados dos padrões estéticos impostos pelos meios de comunicação de massa, possuem grandes dificuldades de manutenção e difusão. A fim de apresentar alternativas frente à atual conjuntura, torna-se indispensável conhecer aqueles que promovem a cultura no Distrito Federal. Sendo assim, o presente projeto objetiva primeiramente mapear as iniciativas que possuam:<br/>

- expressão simbólica não voltada para a indústria cultural de massa;<br/>
- espaço físico e que se identifiquem com as ações culturais propostas;<br/>
- ações culturais freqüentes em suas comunidades;<br/>
- quantidade de pessoas envolvidas, observando não apenas os "atores", mas também o "público envolvido".<br/>
</p>

<p>Considerando que todos os pontos de cultura - frutos do programa Cultura Viva do MinC - atendem a estes critérios, o mapeamento desses será o nosso ponto de partida.</p>

<p><b>Dados relevantes dos diagnósticos levantados até 2012</b></p>

<p>Segundo Frederico Soares, geógrafo que fez o seu mestrado na Universidade de Brasília sobre a Catografia da Cultura Candanga e teve participação fundamental na sua construção metodológica, entre os dados que chamaram atenção, observa-se os seguintes pontos:</p>

<p>1) Sobre o acesso à cultura: do total de grupos mapeados, mais da metade possuem atividades de ensino voltadas para o teatro, mas apenas 14% dos entrevistados indicaram uma frequência mensal ou semanal ao teatro, sendo que o restante dos entrevistados indicou que raramente vai ao teatro ou que nunca foi ao teatro.
<br/>
O padrão de resposta que indica que a maior parte dos entrevistados nunca foi ou raramente freqüenta um equipamento cultural se repete quando relacionadas a outras atividades de formação. Ou seja, normalmente, os entrevistados que participam de alguma atividade ligada ao audiovisual nunca ou raramente foram ao cinema, assim como pessoas ligadas ao desenvolvimento de artesanato nunca ou raramente foram a museus (incluindo aí centros culturais). Assim, a pesquisa indica que esses grupos mapeados possivelmente são a única forma de contato que os entrevistados possuem com algum tipo de atividade cultural. É claro que toda informação relacionada a esse trabalho deve levar em consideração que essa não é uma pesquisa amostral e que esses dados refletem apenas a realidade dos entrevistados (363 no total, na sua maioria estudantes entre 12 e 24 anos). </p>

<p>2) Sobre a freqüência: a baixa frequência nesses espaços está associada a fatores sociais de maior densidade, como a segregação socioespacial que concentra equipamentos (principalmente museus, centros culturais e teatros) no Plano Piloto, Região Administrativa distante da residência de grande parte dos entrevistados. A concentração de equipamentos culturais no Plano Piloto é o inverso da distribuição da população, já que a maior parte da população encontra-se na região que abrange Taguatinga, Ceilândia, Samambaia, Riacho Fundo e Recanto das Emas. É justamente na região de maior população que estão localizados os grupos mapeados com maior articulação, ou seja, como mais comunicação com outros grupos, o que, dentro da uma concepção de rede, é fundamental para o dinamismo do setor. Os grupos de maior articulação desta rede são os Pontos de Cultura.</p>

<p>3) Sobre a captação de recursos: apesar de quase a totalidade dos grupos pesquisados produzirem eventos, a "Bilheteria de Eventos" não é o fator que mais contribui para a sua manutenção. As entidades mapeadas dependem majoritariamente de editais públicos - sejam da esfera Federal, sejam da Distrital, impedindo a produção de cobrar bilheteria.

<br/>Por outro lado, muitos dos coordenadores entrevistados afirmaram que têm grande dificuldade de encontrar espaço para apresentar seus trabalhos. Dessa forma, aponta-se o seguinte antagonismo: a iniciativa privada, que pelo volume de recursos não tem como competir com o Estado no setor produtivo cultural, não abre espaço para artistas com uma produção desvinculada dos meios de comunicação de massa, pois os eventos que atendem tal demanda de mercado são gratuitos e financiados pelo governo. Cria-se, então, um sistema de retroalimentação uma vez que o financiamento público é usualmente restrito a locais específicos, o que impede que os artistas divulguem sua produção para o grande público, além de dificultar o acesso a espaços privados caso a produção não seja adequada aos conteúdos demandados pela massa. 

<br/>Diante deste quadro, muitos questionam se hoje o financiamento público não seria um limitador para a fruição artística cultural. Outros, já apontando uma solução, dizem que o Estado deveria investir na cadeia produtiva como um todo, incluindo os donos de bares, restaurantes e os demais espaços adequados para a realização de exposições, mostras cinematográficas e teatro, ao invés de focar em eventos.
Produtos Gerados </p>

<p><b>1ª Edição (2009):</b></p>

<p>
Na sua primeira edição (2009), a Cartografia da Cultura Candanga gerou os seguintes produtos:<br/>
- Mapa interativo georeferenciado disponível na internet (www.redecandanga.com) com o registro audiovisual dos pontos mapeados;<br/>
- Mapa impresso georeferenciado de 39 grupos e instituições culturais e de 75 equipamentos culturais, classificados em categorias específicas (camadas); <br/>
- DVD de salvaguarda da cultura candanga com o registro audiovisual de todos os pontos mapeados;<br/>
- Diagnóstico sobre os grupos e instituições mapeadas, disponíveis no www.redecandanga.com<br/>
<br/>
<b>2ª Edição (2011)</b><br/>
- Mapa interativo georeferenciado disponível na internet (www.redecandanga.com) com o registro audiovisual dos pontos mapeados;<br/>
- Mapa impresso georeferenciado de 59 grupos e instituições culturais e de 75 equipamentos culturais, classificados em categorias específicas (camadas); <br/>
- Diagnóstico sobre os grupos e instituições mapeadas, disponíveis no www.redecandanga.com<br/>
</p>

<p><b>A partir de 2012: evolução</b></p>

<p>Partindo de uma auto-avaliação, pretendemos tornar a Cartografia da Cultura Candanga um instrumento mais acessível e prazeroso em sua navegação, ao mesmo tempo em que reflita melhor a produção cultural e artística do DF e de suas diferentes territorialidades, buscando definir a relevância que a dimensão cultural assume na produção e na dinâmica dos lugares e regiões do DF.</p>
 
<p>Cientes da não identificação de todos os espaços, tampouco de todos os grupos atuantes nas cidades do DF, a partir de 2012, o mapeamento será feito de uma nova forma, mais dinâmica e democrática. Buscaremos aperfeiçoar esta ferramenta, já disponível do nosso site (www.redecandanga.com) em sua versão interativa, para que haja o automapeamento dos grupos e dos equipamentos. Através do preenchimento de um rápido formulário ou pelo envio de informações para o email redecandanga@gmail.com os grupos serão identificados no mapa virtual. Os equipamentos poderão ser fotografados e identificados por CEP. Os dados da Cartografia serão analisados, gerando dados e relatórios, além, logicamente do mapeamento em nosso mapa interativo. Cada grupo, artista ou pesquisador poderá subir conteúdos para os seus perfis – blogs disponíveis na Rede -, linkando-os aos seus respectivos pontos de identificação no mapa.</p>

<p>Aumentando o alcance, a divulgação e a adesão de grupos, artistas e pesquisadores, aumentamos também o volume dos dados e a precisão dos diagnósticos, permitindo que a Cartografia da Cultura Candanga reflita mais fidedignamente a dinâmica cultural da região. Além disso, os grupos, artistas e pesquisadores, ao subirem arquivos de áudio, imagem ou audiovisual para o portal, através de seus blogs, aumentam a divulgação de seus trabalhos. Nesse momento, ganharão a possibilidade, também, de fazer parte da nossa Rede social e dos nossos fóruns temáticos.</p>

<p>Para tanto, será necessário uma estratégia de mobilização social que pense a capilarização desta ação, como já citado em outro projeto, quando afirmamos  acreditar que o projeto das Estações da Rede apresentado será fundamental para alcançarmos os diversos grupos culturais e artistas de todas as cidades do DF, funcionando como postos avançados de inclusão digital, com pessoas capacitadas das respectivas cidades responsáveis pelo levantamento das atividades culturais da região e para capacitação dos grupos e artistas, de forma a instruí-los para que identifiquem no nosso mapa as suas atividades, preencham os formulários - de onde sairão os diagnósticos do setor cultural da região - e atualizem esses dados constantemente. </p>

<p>Esta nova metodologia, frente à pesquisa de campo e aplicação presencial de questionários, é mais econômica, permite maior alcance em menos tempo e, principalmente, é sustentável, no sentido de permitir a atualização periódica dos dados, uma vez que o setor cultural é extremamente dinâmico: muitos grupos nascem, outros fecham as portas, mudam de endereço, alteram suas atividades, passam a atuar em novos projetos, enfim, é preciso utilizar uma metodologia que dê conta de captar este dinamismo, assim como criar indicadores que apreendam as especificidades de cada segmento ou circuito cultural, muitas vezes sem um respaldo metodológico.</p>

<p><b>Formulários:</b></p>

<p>Sintonizados com a discussão protagonizada pelo IBGE, IPEA e MinC, elaboramos formulários que atendam não só a uma metodologia que identifique grupos e instituições culturalmente ativos, mas que permita a visualização de demandas e de potencialidades econômicas e transversais para a cadeia produtiva cultural do DF, tal como a sua necessária articulação com a educação formal e com o turismo. Os formulários encontram-se em anexo.<p>

<p><b>Camadas da Cartografia:</b></p>

<p>Nossa cartografia classifica os grupos culturais e artistas de acordo com as seguintes camadas:<br/>
- hip hop<br/>
- audiovisual<br/>
- artesanato<br/>
- realização<br/>
- cultura popular<br/>
- teatro<br/>
- música<br/>
</p>

<p>
Classifica os equipamentos culturais de acordo com as seguintes camadas:
- teatro<br/>
- cinema<br/>
- biblioteca<br/>
- museu<br/>
- espaço cultural<br/>
- centros esportivos<br/>
- auditórios<br/>
</p>

<p><bJustificativa:</b></p>
	
<p>Nos últimos oito anos, observa-se no Brasil uma mudança no modo como o Estado trata a questão da cultura. O conceito "cultura" possui diversas interpretações e se transforma no decorrer da história. Atualmente, tem-se dado ênfase ao entendimento da cultura em três dimensões básicas: a simbólica, a econômica e a cidadã. Essa mudança obriga a construção de uma nova gestão das políticas culturais. Crescem, assim, as demandas por metodologias capazes de oferecer dados relacionais entre essas esferas de forma mais precisa e completa.</p>

<p>Dentro desse novo marco paradigmático, parcerias entre o IBGE, IPEA e o Ministério da Cultura buscaram dar conta da atual complexidade de análise do setor cultural no Brasil. Destacamos a criação do IDCult - índice utilizado para medir o nível de acesso aos bens culturais pela população (ainda não publicado) - e a 2ª edição do Caderno Cultura em Números, lançado pelo Minc em 2010, ambos instrumentos fundamentais para formulação de diagnósticos que subsidiarão a elaboração e aplicação de políticas culturais mais efetivas.</p>

<p>Uma das conclusões imediatas destes estudos é a necessidade de aprofundamento da cadeia produtiva cultural: falta identificar o que está sendo produzido e por quem. Outra forte demanda se refere à precisão dos dados, principalmente no que diz respeito às suas especificidades geoculturais. Segundo o ex-ministro da cultura, Juca Ferreira, existe "a necessidade de incrementar nossas informações com ferramentas geográficas e zoneamentos da nossa diversidade cultural e de buscar uma revelação direta da cultura no território brasileiro". Segundo o criador do IDCult, FRederico Barbosa, existe uma tendência a incorporar ao indicador estruturas amostrais que agreguem territorialidade. Para isto novas metodologias de pesquisa precisam ser elaboradas. </p>

<p>O Distrito Federal demonstra, em particular, sérias dificuldades de mapeamento: segregação espacial das cidades do DF; desconhecimento de grande parte da população das atividades culturais em suas comunidades; falta de comunicação entre as iniciativas culturais; e, escassos registros ou sua enorme concentração nas atividades realizadas no Plano Piloto. Essas poderiam ser apontadas como dificuldades centrais. Em sintonia com a discussão em âmbito nacional, propomos a criação de um instrumento público que informe  toda população sobre a complexa dinâmica do setor cultural candango</p>


<p>1) "As Redes constituem a nova morfologia de nossas sociedades e a difusão da lógica das Redes modifica de forma substancial a operação e os resultados dos processos produtivos e de experiência, poder e cultura. (...) A sociedade em Rede representa uma transformação qualitativa da experiência humana" (Castells) </p>

<p>A Rede Candanga - www.redecandanga.com  - é um instrumento virtual composto por Entes e Agentes culturais, instituições públicas ou privadas e pessoas interessadas que, direta ou indiretamente, incidem sobre a cultura produzida nas comunidades do Brasil e, especialmente, no Distrito Federal. </p>

<p>A sua gestão é voltada para a articulação, informação, fomento e qualificação da produção cultural, com ações no campo social, político, econômico e simbólico, fortalecendo os processos culturais que ocorrem nas comunidades, construindo e intensificando laços sociais, estabelecendo parcerias entre artistas e grupos culturais e destes com as instituições públicas e privadas. É desta forma que pretendemos provocar novas iniciativas, novos processos culturais e, ainda, o aprimoramento e a distribuição de produtos e conteúdos estéticos. </p>

</div>
