<div class="sobre">

<p>Brasília evidencia a diversidade da cultura brasileira pela convergência de seus muitos povos formadores. Mas também, pela reinvenção, através do convívio inevitável, que resulta noutras sonoridades, noutros sotaques, noutras geografias, no diálogo entre estranhezas e afinidades. Como uma cidade densa, carrega consigo os pulsares de sua gente que, de tão diferentes, um povo novo se faz, aos poucos, candango.</p>

<p>Do Plano Piloto como modelo de cidade - ao que hoje se inscreve no mapa do Brasil como Distrito Federal - muito se alterou. Porque, como cidade viva que é, esta mudou, ajustou o seu destino, alargou suas fronteiras, alterou o seu traçado. Hoje, temos mais cidades e menos satélites, além de outras comunidades, não planejadas, que almejam sua inclusão nos benefícios gerados pelo desenvolvimento ainda oferecido para poucos. </p>

<p>Com relação ao universo cultural do Distrito Federal, percebem-se facilmente alguns diagnósticos: não existem informações sistematizadas sobre a produção cultural das cidades nem por parte da sociedade e nem por parte do Estado; a falta de divulgação, circulação e incentivo, bem como o isolamento físico das cidades e dos grupos culturais, tem como conseqüência a falta de comunicação entre os entes e agentes culturais e o desconhecimento de grande parte da produção cultural, principalmente aquelas que não têm apelo de mercado e estão fora do plano piloto.</p>

<p>
Com base nesse dois diagnósticos, a OnG Artéria estruturou seus eixos de atuação:
Identificação, produção de diagnósticos e indicadores culturais sobre a produção cultural do Brasil e do Distrito Federal. Essas informações compõem uma experiência inédita na região e vem sendo utilizada tanto pela população que deseja conhecer a as culturas candangas como por pesquisadores e pelo o governo, na busca de subsídios para elaboração de políticas públicas;
1) Dinamização da produção cultural do Distrito Federal através da divulgação da produção cultural, do oferecimento de informação, formação e controle social do universo cultural e espaço para comunicação entre artistas, pesquisadores, trabalhadores da cultura, gestores, iniciativa privada, governo e interessados.  
</p>

<p>
Tratam-se, respectivamente, da 

1) Cartografia da Cultura Candanga e do Mapa da Cultura;
2) Rede Candanga.
</p>


<p>1) A Cartografia da Cultura Candanga é um mapa dos equipamentos culturais, grupos culturais e artistas do DF para orientar brasilienses, turistas, governos e estudiosos dos processos culturais. O objetivo fundamental do projeto é mapear os grupos e entidades ligadas ao fazer cultural no Distrito Federal e extrair diagnósticos do setor, o que permite conhecer as demandas e potencialidades dos pontos mapeados, chegando-se a uma visualização qualificada da Rede formada por esses entes e agentes. </p>

<p>O desenvolvimento deste projeto permitirá o acesso a informações detalhadas sobre o cenário cultural da cidade e sobre as cadeias produtivas, com as possibilidades que se abrem no campo das associações e empreendimentos. Com isso, ganham: 1) o grande público, composto por moradores da região e turistas, que terão oportunidade de conhecer os grupos, artistas, os perfis, informações detalhadas e as atividades culturais desenvolvidas na região; 2) os grupos e associações, que terão os seus trabalhos divulgados, potencializando as atividades por eles desenvolvidas, seja pelo aumento do número de pessoas que visitarão os espaços e/ou participarão das atividades, seja pelas possibilidades de novas oportunidades no campo da economia da cultura; 3) a iniciativa privada, que terá uma ferramenta para estudo qualificado de potenciais investimentos no campo da cultura; 4) e, por fim, o Estado, que terá um instrumento eficiente para subsidiar a elaboração de políticas públicas e ações pertinentes ao campo cultural da região, inaugurando uma forma de fazer política cultural a partir de sua base, ou seja, das vozes dos que se dedicam e/ou que vivenciam esse universo, e que conhecem bem o cotidiano da realidade cultural candanga. Isso, porque a Cartografia inclui também a aplicação de questionários aos coordenadores e participantes das atividades oferecidas por esses grupos, gerando informações e diagnósticos sobre territorialidades, demandas e potencialidades da diversificada cadeia produtiva cultural do DF. </p>

<p>O mapeamento também se preocupa em fazer um levantamento sobre os equipamentos culturais do DF (teatros, museus e bibliotecas), a fim de compreender a relação entre as atividades oferecidas pelos grupos e os espaços públicos disponíveis. Além disso, ressaltamos a criação de um banco de registro audiovisual dos pontos mapeados, bem como das atividades desenvolvidas por estes como uma importante iniciativa de salvaguarda da cultura candanga.</p>

<p>Acreditamos que a identificação georeferenciada dos grupos e instituições e a apresentação de seus conteúdos, projetos e processos, disponibilizados em um portal na internet, será uma forte ferramenta para o turismo cultural das cidades e para a dinamização dos processos econômicos no campo da cultura: identificar e divulgar os grupos e suas atividades para uma ampla parcela da população gera maior potencial de público para suas atividades e maior interesse por parte da iniciativa privada; consolidar um canal público de comunicação aproximar a sociedade das atividades culturais e os próprios fazedores de cultura entre si, fortalecendo o setor; diagnosticar demandas em comum, subsidiando o norteamento de ações para a Rede e a elaboração de políticas públicas culturais por parte dos órgãos governamentais responsáveis.</p>

<p>Desenvolvida pelo Ponto de Cultura Artéria - Cultura e Cidadania, a Cartografia da Cultura Candanga em sua primeira versão, em 2009, mapeou e diagnosticou um objeto amostral de 39 grupos e 75 equipamentos culturais. Na segunda versão, em 2011, chegou a 59 grupos e com o mesmo número de equipamentos. Para tanto, contamos, em 2009, com recursos do Fundo de Arte e Cultura do DF (FAC) e do Fundo de Apoio à Pesquisa (FAP). Atualmente a Cartografia da Cultura Candanga está aberta para novas adesões. Basta enviar um email com as informações (hiperlink do questionário) para contato@arteria.org.br</p>

</div>
