<div class="sobre">
<p>
<b>Raoni Machado:</b>
Cientista social formado pela Universidade de Brasília; Mestrado em Sociologia de la Cultura y el Análisis Cultural pela Universidade General San Martín – Instituto de Altos Estudios Culturales (IDAES). Bolsista da Organização dos Estados Americanos (OEA). Tema: O esquecimento da dimensão de classe na formulação teórica dos novos movimentos sociais latinoamericanos; Pesquisador da Fiocruz-Brasília, Programa de Educação Cultura e Saúde – Rede Saúde e Cultura.
Membro-fundador da OnG Artéria – Cultura e Cidadania. Atua na coordenação de projetos e tesouraria
</p>

<p>
<b>Fabiana Sherine Ganem dos Santos (Goa):</b>
Formada em Ciências Biológicas, atua desde 2000 em Redes Sociais com ênfase em Cultura Digital e projetos de (re)apropriação de ferramentas tecnológicas para produção livre. Trabalha na temática de gênero - corpo - e tecnologia, estuda atualmente interfaces de comunicação para formação de redes sociais colaborativas com ênfase em aprendizado. Trabalhou no projeto Cultura Digital do Ministério da Cultura, no programa de Inclusão Digital Casa Brasil, coordenando o Pontão de Cultura Digital juntaDados e atualmente atua no Ministério da Saúde e na Organização Não Governamental Artéria Cultura e Cidadania.
</p>
<p>

<b>Marcelo Soares Souza (marcelosoaressouza):</b>
Bacharel em Informática pela Universidade Católica do Salvador (UCSal). Consultor, Desenvolvedor, técnico, tradutor e docente em tecnologias da informação e comunicação (TIC). Atuou em Programas de Inclusão e Cultura Digital do Governo Federal como Casa Brasil (ITI/CNPq), GESAC (Ministério das Comunicações) e no Pontão de Cultura Digital juntaDados.org (Universidade do Estado da Bahia). Nestes participou do desenvolvimento e customização das distribuições GNU/Linux utilizada pelo programa GESAC e juntaDados.org, realizou oficinas e palestras técnicas sobre desenvolvimento de software, planejamento e montagem de infraestrutura e tradução de ferramentas livres. Ministrou aulas no Serviço Nacional de Aprendizagem Industrial (SENAI) da Bahia nos cursos de Certificação Linux LPI-1 e Certificação Conectiva/Mandriva. Já trabalhou com infraestrutura de redes de computadores, administração de servidores, desenvolvimento e analise de sistemas, pesquisa e desenvolvimento científico, docência técnica dentre outros. Nas horas vagas também é pesquisador e mantenedor do Centro Baiano de Computação de Alto Desempenho (CEBACAD). Atualmente pesquisa nas áreas de Web 2.0, Web Semântica, Web Mashups, Web Services, Georeferenciamento dentre outros.
</p>




</div>
