<div class="sobre">
<p>
<b>Raoni Machado:</b>
Cientista social formado pela Universidade de Brasília; Mestrado em Sociologia de la Cultura y el Análisis Cultural pela Universidade General San Martín – Instituto de Altos Estudios Culturales (IDAES). Bolsista da Organização dos Estados Americanos (OEA). Tema: O esquecimento da dimensão de classe na formulação teórica dos novos movimentos sociais latinoamericanos; Pesquisador da Fiocruz-Brasília, Programa de Educação Cultura e Saúde – Rede Saúde e Cultura.
Membro-fundador da OnG Artéria – Cultura e Cidadania. Atua na coordenação de projetos e tesouraria
</p>
</div>
