/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require fancybox
 *= require_tree .
 *= require_self
 */

h3 {
  color: #000;
}

.sobre p {
  font-size: 18px;
  line-height: 24px;
  text-align: justify;
}

.row-fluid {
  background-image: url('/assets/Arteria-Logo-Large-Transparent.jpg');
  background-repeat:no-repeat;
  background-position: top center;
  min-width: 780px;
  min-height: 400px;
  border: 1px solid #F8F8F8;
}

a {
    color: #000000;
}
a:visited {
    color: #666666;
}
a:hover {
    background-color: transparent;
    color: #000;
}

.accordion {
  min-width: 800px;
}

.table th, .table td {
  font-size: 16px;
  text-align: center;
  vertical-align: middle;
  background-color: transparent;
}

.table-striped tbody tr:nth-child(2n+1) td, .table-striped tbody tr:nth-child(2n+1) th {
  vertical-align: middle;
  background-color: transparent;

}

.search {
  float: right;
}

.pagination{height:36px;margin:18px 0;}.pagination ul{float:left;margin:0;border:1px solid #ddd;border:1px solid rgba(0, 0, 0, 0.15);-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;-webkit-box-shadow:0 1px 2px rgba(0, 0, 0, 0.05);-moz-box-shadow:0 1px 2px rgba(0, 0, 0, 0.05);box-shadow:0 1px 2px rgba(0, 0, 0, 0.05);}
.pagination li{display:inline;}
.pagination a{float:left;padding:0 14px;line-height:34px;border-right:1px solid;border-right-color:#ddd;border-right-color:rgba(0, 0, 0, 0.15);*border-right-color:#ddd;text-decoration:none;}
.pagination a:hover,.pagination .active a{background-color:#c7eefe;}
.pagination .disabled a,.pagination .disabled a:hover{background-color:transparent;color:#bfbfbf;}
.pagination .next a{border:0;}

label {
  font-weight: bold;
  font-size: 16px;
}

.row-fluid {
  max-width: 1280px;
  margin-left: auto ;
  margin-right: auto ;
}

footer {
  float: right;
  font-size: 14px;
}

.form-actions {
    background-color: transparent;
    max-width: 250px;
    border: 0px;
}
