        <div class="span2" style="text-align: center; float: left;">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <a class="brand" href="/"><img src="/assets/Arteria-Logo-Small.jpg" alt="Logo Artéria Cultura e Cidadania"/></a>
              <li class="nav-header" style="color: #B12C2F;">A Artéria</li>
                <div style="text-align: justify">
                  <%= truncate(strip_tags(@about.content), :length => 1024) %>
                </div>
            </ul>
          </div>
        </div>

